body {
    
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background:white;
}

.footer {
    margin-top: auto;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: #272727
}

.logo img {
    width:50%;
    max-width: 100px;
    height: auto;
    display: block;
    float: left;
}

.nav-container {
    border: 2px solid #ef1d26;  
    border-radius: 40px;
    padding: 6px 10px;
    display: flex;
    gap: 8px;
}

.nav-item {
    background: transparent;  
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    color: white;            
    transition: 0.2s ease;
}

.nav-item:hover {
    background: #ef1d2640; 
}

.nav-item:active {
    background: #ef1d26;
    color: white;
}

.banner {
    width:100%;
    height:auto;
    display:block;
}

.section-wrapper {
    margin:40px 20px 0px 20px;
}

.section {
    display:flex;
    flex-wrap:wrap;
    gap:30px;
    align-items:flex-start;
}

.section-left {
    flex: 0 0 35%;
    max-width:350px
}

.section-left img {
    width:100%;
    height: auto;
    display:block;
    border-radius: 10px;
}

.section-right {
    flex: 1;
    min-width: 250px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.note-block {
    border-radius: 12px;
    padding: 15px;
    background: #474747;
    margin: 20px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    color:white    
}

.bold {font-weight:bold}
.italic {font-style:italic}
.red {color: #ef1d26}

.bold-italic {font-weight:bold; font-style:italic}
.red-bold {font-weight: bold; color: #ef1d26}
.red-italic {font-style:italic; color: #ef1d26}
.red-bold-italic {color: #ef1d26; font-weight:bold; font-style:italic}

.center {
    text-align:center;
}

hr {
    height: 1px;
    background-color:#272727;
    margin: 40px;
}

.explore-section {
    margin-bottom: 20px;
    padding: 0;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0 10%
}

.card {
    /* flex: 1;*/
    width: 60%;
    color: white;
    background: #474747;
    padding: 20px;
    border-radius: 12px;
    border-left: 5px solid #272727; 
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
    color: white;
    display: block
}

.card:hover {
    transform: translateY(-5px);
    background: #818289; 
    color: white
}

.card h3 {
    margin-top: 0;
    color: white;
}

.card p {
    margin-top: 0;
    color: white;
    text-decoration: none;
}

.card-gif {
    width: 70%;          
    height: auto;          
    border-radius: 8px;    
    margin-bottom: 15px;   
    display: block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;       
}

.card:hover .card-gif {
    transform: scale(1.02);
    transition: 0.3s ease;
}


@media (max-width: 768px) {

    .section {
        flex-direction: column;
        align-items: center;    
        gap: 20px; 
    }

    .section-left {
        flex: 0 0 100%;
        max-width: 250px;      
        margin: 0 auto;        
    }

    .section-right {
        min-width: 100%;
        text-align: justify;    
    }

    .explore-section {
        margin: 20px 10px;    
    }

    .card-container {
        flex-direction: column;
        gap: 15px;
        align-items: center;  
    }

    .card {
        width: 70%;          
        box-sizing: border-box;
        padding: 15px;
        margin: 0 auto     
    }
    
    .card-gif {
        width: 80%;          
    }

    .top-nav {
        padding: 10px 15px;   
    }
    
    .note-block {
        margin: 20px;          
    }
}
